<div class="container mx-auto px-4">
  <h1 class="mt-4">Lista de tareas</h1>
  <ul>
    @for (task of tasks; track task.id; ) {
    <li>
      {{ task.id }} : {{ task.description == "" ? "---" : task.description }} :
      {{ task.completed ? "Completada" : "Pendiente" }}
    </li>
    }
  </ul>
  <form [formGroup]="taskForm" (ngSubmit)="onSubmit()">
    <div class="flex flex-col">
      <p>
        <mat-slide-toggle formControlName="completed" color="primary"
          >Slide me!</mat-slide-toggle
        >
      </p>
      <mat-form-field class="example-full-width">
        <mat-label>Description</mat-label>
        <input
          formControlName="description"
          matInput
          placeholder="Ex. Crear un circulo"
        />
      </mat-form-field>
      <button
        [disabled]="!taskForm.valid"
        mat-button
        class="rounded-sm hover:bg-orange-400 bg-orange-500 transition-all text-white"
      >
        Enviar
      </button>
    </div>
  </form>
</div>
